<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteTaker</title>
    <script src="static/htmx/htmx.min.js"></script>
    <link rel="stylesheet" href="../static/css/global.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <nav class = "main-nav">
        <div class = "nav-div">
            <button class = "nav-btn" hx-get="http://127.0.0.1:5000/" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Home</button>
            <button class = "nav-btn" hx-get="http://127.0.0.1:5000/login" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Login</button>
            <button class = "nav-btn" hx-get="http://127.0.0.1:5000/signup" hx-target="#content" hx-push-url="true" hx-swap="innerHTML">Sign Up</button>
            <button class = "nav-btn" hx-get="http://127.0.0.1:5000/logout">Logout</button>
        </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
