{% if not is_htmx %}
    {% extends "base.html" %}
{% endif %}

{% block extra_css %}
        <link rel = "stylesheet" href = "../static/css/loginpage.css" >
{% endblock %}

{% block content %}

<div class = "login-div">
    <div class = "login-form">
        <h1>Login Here</h1>
        <div>
            <form hx-post="/login" hx-swap="innerHTML">
                <div class = "username-div">
                    <label>Username</label>
                    <input class = "user-input" name="username" placeholder="Username" required><br><br/>
                </div></br>
                <div class = "password-div">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required><br><br/>    
                </div>
                <br/>
                <button type="submit" class = "submit-btn">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock  %}